{% extends "adminbase.html.twig" %}

{% block title %}
    {{ date|date("Y. m. d.") }} {{ id|menuletter }} menü szerkesztése - Webmenza
{% endblock title %}

{% block headtitle %}
    {{ date|date("Y. m. d.") }} {{ id|menuletter }} menü szerkesztése
{% endblock headtitle %}

{% block content %}
<form method="post" action="#">
    <div class="mb-3">
        <label for="date" class="form-label">Nap:</label>
        <input type="date" name="date" id="date" class="form-control" required readonly value="{{ date }}">
    </div>
    <div class="mb-3">
        <label for="date" class="form-label">Menü:</label>
        <textarea name="menu" id="menu" required class="form-control">{{ menu }}</textarea>
    </div>
    <button type="submit" class="btn btn-primary"><i class="bi bi-floppy"></i> Mentés</button>
</form>
{% endblock content %}