{% extends "base.html.twig" %}

{% block title %}
    Webmenza
{% endblock title %}

{% block headtitle %}
    Webmenza
{% endblock headtitle %}

{% block content %}
    <p>
        {% if todayMenu %}
            A mai ebéded: {{ todayMenu[0]|nl2br }}.
        {% else %}
            A mai napra nem igényeltél étkezést.
        {% endif %}
    </p>
    {% if nextday is not same as(null) %}
        <p class="text-center m-3"><a href="set.menu.php?date={{ nextday[0] }}" role="button" class="btn btn-primary btn-lg"><i class="bi bi-pen"></i> Kitöltés folytatása</a></p>
    {% endif %}
    <h3>Ez a hónap</h3>
    <div class="d-flex justify-content-center">{% include "_calendar.html.twig" %}</div>
    <div>
        <h3>Határidők</h3>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Tartomány</th>
                        <th>Határidő</th>
                        <th>Kitöltve</th>
                    </tr>
                </thead>
                <tbody>
                    {% for deadline in deadlines %}
                    <tr>
                        <td>
                            <a href="set.menu.php?date={{ deadline.from|date("Y-m-d") }}">{{ deadline.from|date("m. d.") }} - {{ deadline.to|date("m. d.") }}</a>
                        </td>
                        <td>{{ deadline.end|date("m. d.") }}</td>
                        <td>{{ deadline.choices }}/{{ deadline.dates }} ({{ (deadline.choices / (deadline.dates ? deadline.dates : 1) * 100)|round }}%)</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div>
        <h3>Lemondási kérelmeid</h3>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Nap</th>
                        <th>Állapot</th>
                        <th>Műveletek</th>
                    </tr>
                </thead>
                <tbody>
                    {% for modification in modifications %}
                    <tr>
                        <td>{{ modification.date|date("Y. m. d.") }}</td>
                        <td>
                            {% if modification.approved is same as(0) %}
                                elutasítva
                            {% elseif modification.approved is same as(null) %}
                                függőben
                            {% endif %}
                        </td>
                        <td>
                            {% if modification.approved is same as(null) %}
                            <a href="delete.modification.php?date={{ modification.date }}" role="button" class="btn btn-danger"><i class="bi bi-x-lg"></i> Visszavonás</a>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock content %}