{% extends "base.html.twig" %}

{% block title %}
    Menü választása - Webmenza
{% endblock title %}

{% block headtitle %}
    Menü választása
{% endblock headtitle %}

{% block content %}
<form method="post" action="#">
    <div class="mb-3">
        <label for="date" class="form-label">Nap:</label>
        <input type="date" name="date" id="date" class="form-control" required value="{{ date }}" onchange="window.location.href = 'set.menu.php?date='+this.value">
        <div class="d-flex justify-content-center">{% include "_calendar.html.twig" %}</div>
    </div>
    <div class="mb-3">
        <label class="form-label">Menü:</label>
    </div>
    <div class="mb-3">
        {% if menu != null %}
        <div class="form-check">
            <input class="form-check-input" type="radio" name="meal" id="meal-null" value="null" {% if id is same as(null) %} checked {% endif %} {% if fillable == false %}disabled{% endif %}>
            <label class="form-check-label" for="meal-null">
              Erre a napra nem igénylek étkeztetést.
            </label>
        </div>
        {% endif %}
        {% for meal in menu %}
        <div class="form-check">
            <input class="form-check-input" type="radio" name="meal" id="meal-{{ meal.id }}" value="{{ meal.id }}" {% if meal.id == id %} checked {% endif %} {% if fillable == false %}disabled{% endif %}>
            <label class="form-check-label" for="meal-{{ meal.id }}">
              {{ meal.description|nl2br }}
            </label>
        </div>
        {% else %}
        <p>Erre a napra nem igényelhető étkeztetés.</p>
        {% endfor %}
    </div>
    {% if menu != [] %}
    {% if requests is same as(0) %}
        <p>Erre a napra benyújtottál egy lemondási kérelmet.</p>
    {% endif %}
    <button type="submit" class="btn btn-primary" {% if fillable == false %}disabled{% endif %}><i class="bi bi-floppy"></i> Mentés</button>
    {% if fillable == false and id > 0 and enableModificationRequests %} 
        <a role="button" href="request.modification.php?date={{ date }}" class="btn btn-danger {% if requests is same as(0) %}disabled{% endif %}" {% if requests is same as(0) %}aria-disabled="true"{% endif %}><i class="bi bi-x-lg"></i> Lemondás</a>
    {% endif %}
    {% endif %}
</form>
{% endblock content %}