{% extends "adminbase.html.twig" %}

{% block title %}
    {{ groupname|e }} csoport - Webmenza
{% endblock title %}

{% block headtitle %}
    {{ groupname|e }} csoport
{% endblock headtitle %}

{% block content %}
<div class="d-flex justify-content-sm-between flex-wrap">
    <div>
        <a href="edit.group.php?id={{ groupId }}" class="btn btn-primary" role="button"><i class="bi bi-pencil-square"></i> Szerkesztés</a>
        <div class="btn-group">
            <button type="button" class="btn btn-danger dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-trash3"></i> Törlés
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="delete.group.php?id={{ groupId }}"><i class="bi bi-trash3"></i> Csoport törlése és felhasználók megtartása</a></li>
              <li><a class="dropdown-item" href="delete.group.php?onlyusers=1&id={{ groupId }}"><i class="bi bi-person-x-fill"></i> Csoport felhasználóinak törlése</a></li>
              <li><a class="dropdown-item" href="delete.group.php?withusers=1&id={{ groupId }}"><i class="bi bi-person-x"></i> Csoport és felhasználói törlése</a></li>
            </ul>
        </div>
        <a href="migrate.group.php?from={{ groupId }}" class="btn btn-warning" role="button"><i class="bi bi-person-fill-up"></i> Csoport költöztetése</a>
        <a href="export.choices.php?group={{ groupId }}" class="btn btn-primary" role="button"><i class="bi bi-list-check"></i> Igénylések exportálása</a>
        <a href="export.form.php?group={{ groupId }}" class="btn btn-primary" role="button"><i class="bi bi-file-ruled"></i> Igénylőlap generálása</a>
    </div>
</div>

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Név</th>
                <th>Műveletek</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td><a href="view.user.php?id={{ user[0] }}">{{ user[1] }}</a>{% if user[2] == 0 %} (nem regisztrált){% endif %}</td>
                <td></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}